.home{
    display: flex;
}

.productContainer{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap:40px;
}

.image{
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding-top: 20px;
}

.singleProduct{
    min-height: 400px;
    min-width: 400px;
    max-width: 410px;
}

.cartItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 20px;
    margin-bottom: 20px;
}

.cartItemImage{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail{
    display: flex;
    flex-direction: column;
    flex:1;
    padding: 0 20px;
}

.summary{
    width: 30%;
}

.filters {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 86vh;
}

.cartProductContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}